/* Струкутра страницы */
.select-station {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 114px 1fr;
    grid-template-areas: "select-station__close" "select-station__grid";
    height: 100vh;
}

.select-station__close {
    grid-area: select-station__close;
}

.select-station__close-icon {
    margin: 40px;
}

.select-station__close-link {
    display: inline-flex;
    opacity: 0.3;
    transition-duration: 200ms;
}

.select-station__close-link:hover {
    opacity: 1;
}

.select-station__close-link:active {
    opacity: .2;
}

.select-station__grid {
    grid-area: select-station__grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Станции */
.station {
    display: grid;
    align-items: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.station:hover {
    opacity: 1 !important;
    transition-duration: 100ms;
}

.station__link {
    text-decoration: none;
}

.station_wrap {
    height: auto;
    width: auto;
    margin-left: 15%;
    margin-right: 10%;
    text-decoration: none;
}

.station__title {
    font-size: 46px;
    line-height: 68px;
}

.station__genres {
    font-size: 18px;
    line-height: 30px;
}