.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 114px 5fr 40px;
    grid-template-areas:
            "home__selector home__menu"
            "home__player_block home__player_block"
            "home__playlist home__playlist";
    height: 100vh;
}
.home__selector {
    grid-area: home__selector;
}
.home__selector-station-icon {
    margin: 40px;
    opacity: 0.3;
}
.home__menu {
    grid-area: home__menu;
    text-align: right;
}
.home__menu-icon {
    margin: 52px 40px;
}
.home__player_block {
    display: grid;
    grid-area: home__player_block;
    align-content: center;
    justify-content:center;
}
.home__player {
    display: grid;
    width: auto;
    height: auto;
    border:1px solid red;
}
.home__playlist {
    grid-area: home__playlist;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    opacity: 1;
    transition: opacity .5s;
}
.home__playlist-icon {
    margin-top: 15px;
}
.home__playlist-appear-active-class {
    opacity: 0;
}