@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
  font-family: 'Exo 2', sans-serif;
  color: #2c3e50;
  background: #ffffff;
  display: grid;
}

body::-webkit-scrollbar {
    width: 0;
    background: rgba(255, 255, 255, 0.0);
}